{% extends "navbar.html" %}
{% block title %}
<title>Log In</title>
{% endblock %}
{% block content %}
<link rel="stylesheet" href="/static/css/my_forms.css" />

<form method="POST" class="my_forms_area">
    <div class="alert alert-primary" role="alert">
        For demonstration purposes use email: admin@admin.com and password: admin
      </div>
    <h1 class="text-center">Log In</h1>
    <div class="form-group">
        <label for="email">Email Address</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
    </div>
    <br>
    <button class="btn btn-primary" type="submit">Log In</button>
</form>


{% endblock %}