{% extends "navbar.html" %}
{% block title %}
<title>Notes</title>
{% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/css/my_forms.css" />
<!--   nastepnym razem mona uyc modal z bootstrapa do notatek całkiem ładne rozwiązanie    --> 
<div class="text-center">
  <h1 >Notes</h1>
  <form method="POST">
    <div class="text-center">
      <h3>
        <input placeholder="Tytuł" name="title" id="title">
      </h3>
        <textarea class="my_forms_area" placeholder="Tu wpisz notatke" name="note" id="note"></textarea>
        
    </div>
    <button type="submit" class="btn btn-primary">Add Note</button>
</form>
  <br>
  <div class="my_forms_area">
    {% for note in user.notes %}
      <ul class="list-group" id="notes">
          <h3 >
            <li class="list-group-item">{{ note.title }} </li>
          </h3>
          <li class="list-group-item">{{ note.data }} 
            <h6 class="text-end">{{ note.date_now.day }}-{{ note.date_now.month }}-{{ note.date_now.year }} {{ note.date_now.hour }}:{{ note.date_now.minute }}
            <h6 class="text-end">
                <button type="button" class="btn btn-success">Edit</button>
                <button type="button" class="btn btn-danger" onClick="deleteNote({{ note.id}})">Delete</button>
            </h6>
          </h6>
        
          
        </ul>
        <br>
        <br>
        {% endfor %}
    </div>
  </div>
</div>




<script type="text/javascript">
    function deleteNote(noteId) {
        fetch("/delete-note", {
            method: "POST",
            body: JSON.stringify({ noteId: noteId }),
        }).then((_res) => {
            window.location.href = "/notes";
        });
    }
</script>

{% endblock %}